<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
    <!-- JavaScript -->
    <script defer src="/static/js/main.js"></script>
    <title>Document</title>
</head>

<body>
    <%- include ('./partials/navbar.ejs') %>

    <div class="py-5">
        <div class="container">
            <div class="row hidden-md-up" id="postContainer">
                <div class="col-md-4 card__container">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <h6 class="card-subtitle text-muted">여긴 작성자</h6>
                            <span class="card-subtitle text-muted">언제 만들었는지?</span>
                            <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                            <a href="#" class="card-link">상세페이지</a>
                            <a href="#" class="card-link">편집하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>



</body>

</html>