<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/style.css">
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- JavaScript -->
  <script defer src="/static/js/signup.js"></script>
  <title>이것은 게시판</title>
</head>

<body>
  <%- include ('./partials/navbar.ejs') %>

  <section>
    <div class="wrap">
      <label for="basic-url" class="form-label">Username</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username" id="input-username">
      </div>

      <label for="basic-url" class="form-label">eMail</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="yourEmail@email.com" id="input-email">
      </div>

      <label for="basic-url" class="form-label">Password</label>
      <div class="input-group mb-3">
        <input type="text" id="input-password" class="form-control" placeholder="Password" height="500px">
      </div>

      <label for="basic-url" class="form-label">Confirm Password</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Confirm Password" id="input-confirm">
      </div>

      <input class="btn btn-primary" id="signup" type="submit" value="회원가입">
    </div>
  </section>


</body>

</html>